[idle_timeout]
timeout: 600

[force_move]
enable_force_move: True

[temperature_sensor CB1]
sensor_type: temperature_host

[virtual_sdcard]
path: /home/avashevko/printer_data/gcodes

[exclude_object]

[pause_resume]
[display_status]

[respond]

[firmware_retraction]
retract_length: 0.5

[gcode_macro _globals]
variable_filament_sensor_enabled: 0 # NOTE Enable(1) or disable(0) the filament sensor, if one is connected
variable_beeping_enabled: 0 # NOTE Enable(1) or disable(0) beeping everywhere except during gantry calibration
variable_bed_temp_over: 10 # NOTE Start print if bed temperature is over by this amount, otherwise wait for temperature drop
variable_kamp_enable: 1 # NOTE Enable(1) or disable(0) KAMP (adaptive mesh)
variable_adaptive_mesh_enable: 0 # NOTE Enable(1) or disable(0) KAMP (adaptive mesh)
variable_pre_purge_prime_length: 1.40
gcode:
    # Don't delete this section
